<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/style.css" rel="stylesheet">	
		<link href="/nouislider.min.css" rel="stylesheet">	
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <title>{{ title }}</title>
	</head>
	<body>
    <div class="message"> 
    {% block message %} {{ messages }} {% endblock %}
    </div>
		<div class="row">
			<header class="col-12">
        <a href="/"><img src="/images/spaurk_logo.png"></a>
				<div class="bannerUser desktop-only">
        {% if isLogged %} 
          <ul>
          <li>
						<div class="dropdown">
							<div class="profile">
                <a href="/p/{{ user }}"><img src="/uploads/{{ accountImage }}" height="50px" width="50px"></a>
							<div class="dropdown-content">
								{% if subList %}
              {% for sub in subList %}
              <a href="/g/{{ sub.genreShowName }}" id="{{ sub.name }}">{{ sub.genreShowName }}</a>
              {% endfor %}
							{% endif %}
							</div>

							</div>
						</div>
          </li>
          <li>
            <a href="/logout">logout</a>
          </li>
          </ul>
          {% else %}
					<span>Username:</span>
					<span>Password:</span>
					<form action="/login" method="post">
						<input type="text" name="username" >
						<input type="password" name="password" >
						<div id="clear"></div>
						<input type="submit" name="login" value="login" >
						<a href="/register" id="register">register</a>
					</form>
        {% endif %}
				</div>
				<div class="bannerUser mobile-only">
        {% if isLogged %} 
          <ul>
          <li>
						<div class="dropdown">
							<div class="profile">
                <a href="/p/{{ user }}"><img src="/uploads/{{ accountImage }}" height="50px" width="50px"></a>
							<div class="dropdown-content">
              {% for sub in subList %}
              <a href="/g/{{ sub.genreShowName }}" id="{{ sub.name }}">{{ sub.genreShowName }}</a>
              {% endfor %}
							</div>

							</div>
						</div>
          </li>
          <li>
            <a href="/logout">logout</a>
          </li>
          </ul>
          {% else %}
					<a href="/login">Login</a>
					<a href="/register">Register</a>
          {% endif %}
				</div>
			</header>
		</div>
		<div class="row">
			<main class="col-12">
		{% block profile  %}
	<form name="profileForm" id="profileForm" action="" method="POST" enctype="multipart/form-data">
	<input type="file" id="imageElem" name="image" accept="image/*" style="display:none" onchange="handleImage(this.files)">
  </form>

      {% if  user != userProfile %}
      <div class="follow"><a href="/follows/{{ profileUserId }}" class="addFollow" id="follow">[ Follow ]</a></div>{% endif %}
		<div class="editProfile">
			<div class="profileImage">
				<img id="profileImage" src="/uploads/{{ profileImage }}" height="100px" width="100px">
			</div>
      {% if user == userProfile %}
			<div class="edit"><img id="edit" data-isEdit="0" src="/images/edit_icon.png" width="20px" height="22px"></div>
      {% endif %}
		</div>
		<span class="profileName">{{ userProfile }}</span>
		<div class="profileSocial">
      <ul>
			<li id="sound-cloud"></li>
			<li id="band-camp"></li>
			<li id="twitter"></li>
      </ul>
		</div>
      <div class="aboutField" id="about" data-token="0"><p id="aboutContext">{% if about %}{{ about }}{% else %} Profile user  needs to customize this About info {% endif %}</p>
      </div>
      <div class="flashBanner" id="flashBanner" data-token="0"><p id="flashBannerContext">{% if flashBanner %}{{ flashBanner }}{% else %} Profile user needs to customize this short info field {% endif %}</p>
      </div>	
		{% endblock %}
		{% block profileNav %}
		<div class="row">
			<nav class="col-12 profile">
				<ul>
          <li><a href="/p/{{ userProfile }}">Main</a></li>
          <li><a href="/p/{{ userProfile}}/watchlist">Watchlist</a></li>
          <li><a href="/p/{{ userProfile}}/comments">Comments</a></li>
          <li><a href="/p/{{ userProfile }}/following">Following</a></li>
          <li><a href="/p/{{ userProfile }}/followers">Followers</a></li>
					<li class="rightFloat desktop-only"><a href="/upload">New Post</a></li>
				</ul>
			</nav>
		</div>
		{% endblock %}
		{% block nav %}
		<div class="row">
			<nav class="col-12">
				<ul id="nav">
          <div class="dropdown">
            <li><a href="" class="ignore-click">Genre: {{ selectedGenre }} </a></li>
            <div class="dropdown-content">
              <a href="/">All</a>
              {% for genre in genreList %}
              <a href="/g/{{ genre.genreShowName }}" id="{{ genre.name }}">{{ genre.genreShowName }}</a>
              {% endfor %}
            </div>
          </div>
					<li class="rightFloat desktop-only"><a href="/upload">New Post</a></li>
          {% if selectedGenre != 'All' %}
          {% if subbed %}
          <li class="rightFloat"><a href="/g/{{ selectedGenre }}/subscribe" id="sub" class="unsub">UnSubscribe</a></li>
          {% else %}
          <li class="rightFloat"><a href="/g/{{ selectedGenre }}/subscribe" id="sub" class="sub">Subscribe</a></li>
          {% endif %}
          {% endif %}
				</ul>
			</nav>
		</div>
		{% endblock %}
			{% block main %}
				<div class="row">
					<div class="post" id="Discover" data-id="{{ post._id }}"> <!-- START OF POST -->
						<div class="postHeader">
							<div class="postTitle">THis is the title</div>
							<div class="postArtist">this is the aritst</div>
						</div>
						<div class="postBody">
							<span id="playBtn" class="playButton play" data-id="{{ post._id }}"></span>
						</div>
						<div class="postFooter">
							<div class="postMenu">
								<ul>
									<li><a href="#"><span id="watchlist" class="watch"></span></a></li>
									<li><a href="#"><span id="watchlist" class="watch"></span></a></li>
									<li><a href="#"><span id="watchlist" class="watch"></span></a></li>
									<div class="dropdown">
										<li><a href="#"><img src="/images/menu.png"></a></li>
										<div class="dropdown-content">
											<a href="#{{ post.category }}" id="{{ post.category }}">Category: Discovery</a>
											<a href="#{{ post.genre }}">Genre: {{ post.genre }}</a>
											<img src="/uploads/{{ post.profileImage }}" width="25px" height="25px">
											<a href="/p/{{ post.username }}">{{ post.username }}</a>
										</div>
									</div>
								</ul>
							</div>
						</div>
					</div> <!-- END OF POST -->
				</div>
			{% endblock  %}
			</main>
		</div>
	</body>

<script>

	var follow = document.querySelector("#follow");
  var sub = document.querySelector("#sub");

  if('{{ user }}' != ''){
    sub.addEventListener("click", function(event){
      if(event.target.className == "sub"){
        event.target.className = "unsub";
        event.target.innerText = "UnSubscribe";
      }else{
        event.target.className = "sub";
        event.target.innerText = "Subscribe";
      }

    });

    follow.addEventListener("click", function(event){
      if(event.target.className == "addFollow"){
        event.target.className = "removeFollow";
        event.target.innerText = "[ Unfollow ]";
      }else{
        event.target.className = "addFollow";
        event.target.innerText = "[ Follow ]";
      }

    });
  }

  for (var i = 0; i < document.getElementsByClassName("ignore-click").length; i++) {
    document.getElementsByClassName("ignore-click")[i].addEventListener('click', function (event) {
      event.preventDefault();
      return false;
    });
  }

</script>
</html>
